

.button {
    &,
    &:link,
    &:visited {
        position: relative;
        display: inline-block;
        text-decoration: none;
        padding: 2rem 3.5rem;
        text-transform: uppercase;
        border-radius: 10rem;
        font-size: $default-font-size;

        // For button elements
        border: none;
        cursor: pointer;
        backface-visibility: hidden;

    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .5s;
    }

    &:hover,
    &:active {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }

    &--primary {
        color: $color-white;
        background-color: $color-primary-light-1;
        background-image: linear-gradient(to right, $color-primary-dark-1, $color-primary-light-1);

        &::after {
            background: $color-primary-dark-1;
        }
    }

    &--white {
        background: $color-white;
        color: $color-grey-dark-3;


        &::after {
            background-color: $color-white;
        }
    }

    animation: moveInUp 1s ease-out;
}