

.project {
    position: relative;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .2);
    border-radius: 3px;
    overflow: hidden;
    text-align: center;
    height: 40rem;


    &__img-box {
        position: relative;
        height: 70%;
        width: 100%;
        overflow: hidden;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($color-primary-dark-1, .5);
            background-image: linear-gradient(to bottom, rgba($color-primary-light-1, .5), rgba($color-primary-dark-1, .5));
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        transform: scale(1.3);
        transition: all .3s ease-out;
    }

    &:hover &__img {
        transform: scale(1);
    }

    &__heading {
        position: absolute;
        top: 10rem;
        left: 1rem;
        width: 80%;
        text-transform: uppercase;
       font-size: 3rem;
       text-align: left;
       color: $color-white;
    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-fortiary-light-1, .85), 
            rgba($color-fortiary-dark-1, .85));
        }
        &--2 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-secondary-light-1, .85), 
            rgba($color-secondary-dark-1, .85));
        }
        &--3 {
            background-image: linear-gradient(to right bottom, 
            rgba($color-tertiary-light-1, .85), 
            rgba($color-tertiary-dark-1, .85));
        }
    }

    &__button {
        margin-top: 2.5rem;
    }

}