.row {
    @include clearfix;
    max-width: $grid-width;
    margin: 0 auto;
    padding: 0 3rem;

    @include respond(tab-land) {
        padding: 0;
    }
    

    [class^="col-"] {

        float: left;
        width: 100%;
        &:not(:last-child) {
            margin-bottom: $gutter-vertical-small;
        }


        @include respond(tab-land) {
            margin-bottom: 0 !important;
            &:not(:last-child) {
                margin-right: $gutter-horizontal-big;
            }
        }

    }

    .col-1-of-4,
    .col-1-of-3 {
        @include respond(tab-port) {
            width: calc((100% - #{$gutter-horizontal-big} * 2 + #{$gutter-horizontal-big}) / 2);
        }
    }


    .col-1-of-4 {
        @include respond(tab-port) {
            &:not(:nth-child(1)){
                margin-bottom: 0;
            }
            &:not(:nth-child(2n)){
                margin-right: $gutter-horizontal-big;
            }
        }
        @include respond(tab-land) {
            width: calc((100% - #{$gutter-horizontal-big} * 3) / 4);
        }
    }


    .col-1-of-3 {
        @include respond(tab-port) {
            &:not(:nth-child(2n)){
                margin-right: $gutter-horizontal-big;
            }
        }
     
        @include respond(tab-land) {
            width: calc((100% - #{$gutter-horizontal-big} * 2) / 3);
            &:nth-child(2) {
                margin-right: $gutter-horizontal-big;
            }
           &:last-child {
               margin-right: 0;
           }
        }
    }


    .col-2-of-3 {
        @include respond(tab-land) {
           width: calc(((100% - #{$gutter-horizontal-big} * 2) / 3) * 2 + #{$gutter-horizontal-big});
        }
    }

    .col-3-of-4 {
       @include respond(tab-land) {
        width: calc(((100% - #{$gutter-horizontal-big} * 3) / 4) * 3 + (#{$gutter-horizontal-big} * 2));
       }
    }

    .col-2-of-4 {
        @include respond(tab-land) {
         width: calc(((100% - #{$gutter-horizontal-big} * 3) / 4) * 2 + #{$gutter-horizontal-big});
        }
     }

    .col-1-of-6 {
            width: calc((100% - #{$gutter-horizontal-small}) / 2);
            &:not(:nth-child(2n)) {
                margin-right: $gutter-horizontal-small;
            }
            
            @include respond(tab-port) {
                width: calc((100% - #{$gutter-horizontal-small} * 2) / 3);
                &:nth-child(2),
                &:nth-child(4) {
                    margin-right: $gutter-horizontal-small;
                }
                &:nth-child(3) {
                    margin-right: 0;
                }
            }

            @include respond(tab-land) {
                width: calc((100% - #{$gutter-horizontal-small} * 5) / 6);
                &:nth-child(3) {
                    margin-right: $gutter-horizontal-small;
                }
            }
     }
}