
.header {
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(to right bottom, rgba($color-primary-dark-1, .8), 
                      rgba($color-primary-light-1, .8)),
                      url('../images/hero-small.jpg');
    background-position: top;
    background-size: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);


    @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
    only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
    only screen and (min-width: 125em) {
        background-image: linear-gradient(to right bottom, rgba($color-primary-dark-1, .8), 
        rgba($color-primary-light-1, .8)),
        url('../images/hero-big.jpg');
        background-position: center;
    }

    &__text-box {
        @include absCenter;
        text-align: center;
    }
}