

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(4rem);
    }

    80% {
        transform: translateX(-.4rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}



@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-4rem);
    }

    80% {
        transform: translateX(.4rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}


@keyframes moveInUp {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    80% {
        transform: translateY(-.2rem);
    }

    100% {
        transform: translate(0);
        opacity: 1;
    }
}



// .slideUp {
//     transform: translateY(50%) scale(1.3);
//     opacity: 0;
//     transition: all .5s cubic-bezier(.05,.73,.84,.87);

//     &--active {
//         transform: translate(0) scale(1);
//         opacity: 1;  
//     }
// }


// .slideLeft {
//     transform: translateX(-10%) scale(1.1); 
//     opacity: 0;
//     transition: all .5s cubic-bezier(.05,.73,.84,.87);

//     &--active {
//         transform: translate(0) scale(1);
//         opacity: 1; 
//     }
// }


// .slideRight {
//     transform: translateX(10%) scale(1.1); 
//     opacity: 0;
//     transition: all .5s cubic-bezier(.05,.73,.84,.87);

//     &--active {
//         transform: translate(0) scale(1);
//         opacity: 1; 
//     }
// }

